extends layout

block content
    h2 User
    p #{user.name}

    h2 Book
    p #{book.name}

    h3 Posts
    if posts && posts.length > 0
        ul
            each post in posts
                li= post.quote
                p Author: #{post.user.name}
    else
        p No posts found.
