extends layout

block content
    h2 User Detail
    p #{user.name}

    h3 Books 
    if books && books.length > 0
        ol
            each book in books
                li #{book.name}
    else 
        p No books
