extends layout
block content
    h2 User Detail
    p #{user.name}

    h3 Books 
    if user.books.length 
        ol
            each book in user.books
                li #{book.name}
                
    else 
        p No bookings